{
  "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
  "singleQuote": true,
  "jsxSingleQuote": false,
  "semi": false,
  "trailingComma": "all",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "singleAttributePerLine": false,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "**/*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
