---
---

<a
  href="/"
  data-nav-home
  class="flex gap-2 items-center no-underline lg:text-lg pointer-events-auto"
>
  <span class="text-gray-0">
    Phillip{' '}
    <span class="bg-(image:--gradient-accent) bg-clip-text text-transparent">
      Hirsch
    </span>
  </span>
</a>
