---
---

<a
  href="/"
  data-nav-home
  class="flex gap-2 items-center leading-tight no-underline lg:text-lg pointer-events-auto"
>
  <span class="text-gray-0">
    Phillip{' '}
    <span
      style="background: var(--gradient-accent); -webkit-background-clip: text; background-clip: text; color: transparent;"
    >
      Hirsch
    </span>
  </span>
</a>
