---

---

<a
  href="/"
  data-nav-home
  class="pointer-events-auto flex items-center gap-2 no-underline lg:text-lg"
>
  <span class="text-gray-0">
    Phillip{' '}
    <span class="bg-(image:--gradient-accent) bg-clip-text text-transparent">
      Hirsch
    </span>
  </span>
</a>
