---
import PageHeader from '../components/molecules/PageHeader/PageHeader.astro'
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Not Found" description="404 Error — this page was not found">
  <main class="flex flex-col gap-20 pt-14">
    <PageHeader
      title="404 — Page Not Found"
      tagline="Sorry, the page you're looking for doesn't exist or has been moved."
    />
  </main>
</BaseLayout>
