---
import { Image } from "astro:assets";
import Hero from "../components/Hero/Hero.astro";
import Skills from "../components/Skills/Skills.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { pageTransition } from "../utils/animations";
import portrait from "../../public/assets/portrait.jpg";
---

<BaseLayout>
  <div
    class="flex flex-col gap-20 lg:gap-48"
    transition:animate={pageTransition}
  >
    <div class="w-full max-w-332 mx-auto px-6 flex flex-col gap-8 lg:gap-20">
      <header
        class="flex flex-col items-center gap-8 lg:grid lg:grid-cols-[6fr_4fr] lg:px-10 lg:gap-15"
      >
        <Hero
          title="Hello, my name is Phillip Hirsch"
          tagline="Software Engineer based in Charlotte, North Carolina"
          align="start"
        />

        <Image
          alt="Phillip Hirsch smiling in a plaid button-up shirt and a white t-shirt"
          width="480"
          height="620"
          loading="eager"
          fetchpriority="high"
          src={portrait}
          class="aspect-5/4 object-cover object-top rounded-3xl shadow-md lg:aspect-3/4 lg:rounded-[4.5rem]"
        />
      </header>

      <Skills />
    </div>
  </div>
</BaseLayout>
