---
import Hero from "../components/Hero/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { pageTransition } from "../utils/animations";
import "./resume.css";
---

<BaseLayout
  title="Resume | Phillip Hirsch"
  description="View and download Phillip Hirsch's resume"
>
  <div class="stack gap-20" transition:animate={pageTransition}>
    <div class="wrapper">
      <Hero title="Resume" align="center" />

      <a
        href="/assets/Resume_Full_Stack_Software_Engineer.pdf"
        download
        class="btn btn-primary download-mobile"
      >
        Download Resume
      </a>

      <div class="pdf-container">
        <iframe
          src="/assets/Resume_Full_Stack_Software_Engineer.pdf"
          title="Phillip Hirsch Resume"
          class="pdf-viewer"></iframe>
      </div>
    </div>
  </div>
</BaseLayout>
