---
import { educationEntries } from '../../../data/education'
import EducationEntry from '../../molecules/EducationEntry/EducationEntry.astro'
import SectionHeader from '../../molecules/SectionHeader/SectionHeader.astro'
---

<section id="education" class="flex flex-col gap-24 lg:gap-32">
  <div class="flex flex-col gap-8">
    <div class="reveal">
      <SectionHeader label="Background" title="Education" />
    </div>

    <ol
      class="reveal reveal-delay-1 relative m-0 list-none pl-4 before:absolute before:bottom-[0.6rem] before:left-0 before:top-[0.6rem] before:w-px before:bg-[linear-gradient(to_bottom,var(--color-accent-regular),transparent)] before:content-['']"
      role="list"
    >
      {educationEntries.map((entry) => <EducationEntry entry={entry} />)}
    </ol>
  </div>
</section>
