---

---

<footer class="py-12 text-sm">
  <p class="flex justify-center gap-4 flex-wrap">
    <a
      href="https://www.linkedin.com/in/phillip-hirsch"
      class="text-gray-400 underline decoration-transparent underline-offset-[0.25em] transition hover:decoration-current"
    >
      LinkedIn
    </a>
    <a
      href="https://github.com/phillip-hirsch"
      class="text-gray-400 underline decoration-transparent underline-offset-[0.25em] transition hover:decoration-current"
    >
      GitHub
    </a>
  </p>
</footer>
