---
import Icon from "../Icon/Icon.astro";
---

<theme-toggle>
  <button
    class="flex border-0 rounded-full p-0 bg-gray-999 shadow-[inset_0_0_0_1px_var(--color-accent-overlay)] cursor-pointer"
  >
    <span class="sr-only">Dark theme</span>
    <span
      class="relative z-10 flex p-2 w-8 h-8 text-base text-accent-text-over dark:text-accent-overlay before:content-[''] before:absolute before:inset-0 before:-z-10 before:bg-accent-regular before:rounded-full motion-safe:before:transition-transform motion-safe:before:duration-200 motion-safe:before:ease-in-out motion-safe:transition-colors motion-safe:duration-200 dark:before:translate-x-full forced-colors:before:bg-[SelectedItem]"
    >
      <Icon icon="sun" />
    </span>
    <span
      class="relative z-10 flex p-2 w-8 h-8 text-base text-accent-overlay dark:text-accent-text-over motion-safe:transition-colors motion-safe:duration-200"
    >
      <Icon icon="moon-stars" />
    </span>
  </button>
</theme-toggle>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button")!;

      /** Set the theme to dark/light mode. */
      const setTheme = (dark: boolean) => {
        document.documentElement.classList[dark ? "add" : "remove"]("dark");
        button.setAttribute("aria-pressed", String(dark));
      };

      // Toggle the theme when a user clicks the button.
      button.addEventListener("click", () => setTheme(!this.isDark()));

      // Initialize button state to reflect current theme.
      setTheme(this.isDark());
    }

    isDark() {
      return document.documentElement.classList.contains("dark");
    }
  }
  customElements.define("theme-toggle", ThemeToggle);
</script>
