---
// Learn about using Astro layouts:
// https://docs.astro.build/en/basics/layouts/

import Footer from "../components/Footer/Footer.astro";
// Component Imports
import MainHead from "../components/MainHead/MainHead.astro";
import Nav from "../components/Nav/Nav.tsx";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    <div class="flex flex-col min-h-full backgrounds">
      <Nav client:load />
      <slot />
      <Footer />
    </div>

    <script>
      // Add "loaded" class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded"),
      ); // Re-add "loaded" class after view transitions (load event doesn't re-fire).
      document.addEventListener("astro:page-load", () =>
        document.documentElement.classList.add("loaded"),
      );
    </script>
  </body>
</html>
