---
---

<div
  aria-hidden="true"
  class="h-px opacity-50 bg-[linear-gradient(to_right,var(--color-accent-regular)_0%,var(--color-accent-light)_30%,var(--color-gray-800)_60%,transparent)]"
>
</div>
